{% extends "layout.html" %}
<!-- index.html -->
{% block header %}
{% endblock %}
    <!-- Заклад-объект -->
    {% block zaklad %}
    <div class="nazva_zakladu">
    </div>
    {% endblock %}
    {% block prylad %}
    <div class="prylady">
    </div>
    {% endblock %}

{% block body %}
    <div style="width: 100%; height: 1px; clear: both;"></div>
    <!-- <div class="filter"> -->
        {% block filter %}
        {% endblock %}
    <!-- </div> -->
    <div class="alldat">
        {% block alldat %}
        <table border="0" style="width: 100%;">
            <tr>
                <td>
                    <!-- <p>alldat</p> -->
                </td>
            </tr>
            <tr>
                <td>
                    <!-- график -->
                </td>
            
                <td>
                </td>
            </tr>
            <!-- <tr> -->
            <!-- </tr> -->
        </table>
        {% endblock %}

    </div>
{% endblock %}
