{% extends "layout.html" %}
{% block body %}
<div class="alldat">
<div id="chartdiv" style="height:500px "></div>
{# s1 | safe #}
{# s2 #}
</div>
<script type="text/javascript">
$(document).ready(function () {
    var s1 = {{ seres[1] | safe }}
    var s2 = {{ seres[2] | safe }}
    var s3 = {{ seres[3] | safe }}
    var s4 = {{ seres[4] | safe }}
    var s5 = {{ seres[5] | safe }}
    var s6 = {{ seres[6] | safe }}
    var s7 = {{ seres[7] | safe }}
    var s8 = {{ seres[8] | safe }}
 
    plot1 = $.jqplot("chartdiv", [s1, s2, s3, s4, s5, s6, s7, s8], {
        // Turns on animatino for all series in this plot.
        animate: true,
        // Will animate plot on calls to plot1.replot({resetAxes:true})
        animateReplot: false,
        cursor: {
            show: true,
            zoom: true,
            looseZoom: true,
            showTooltip: false
        },
        series:[
            {
                pointLabels: {
                    show: false
                },
                showMarker: false,
                // markerOptions: { style:"none" },
                // renderer: $.jqplot.BarRenderer,
                // showHighlight: false,
                // yaxis: 'y2axis',
                // rendererOptions: {
                //     // Speed up the animation a little bit.
                //     // This is a number of milliseconds.  
                //     // Default for bar series is 3000.  
                //     animation: {
                //         speed: 2500
                //     },
                //     barWidth: 15,
                //     barPadding: -15,
                //     barMargin: 0,
                //     highlightMouseOver: false
                // }
            }, 
            {
                showMarker: false,
                rendererOptions: {
                    // speed up the animation a little bit.
                    // This is a number of milliseconds.
                    // Default for a line series is 2500.
                    animation: {
                        speed: 2000
                    }
                }
            },
            {
                showMarker: false,
            },
            {
                showMarker: false,
            },
            {
                showMarker: false,
            },
            {
                showMarker: false,
            },
            {
                showMarker: false,
            },
            {
                showMarker: false,
            },
        ],
        axesDefaults: {
            pad: 0
        },
        axes: {
            // These options will set up the x axis like a category axis.
            xaxis: {
                renderer:$.jqplot.DateAxisRenderer,
                rendererOptions:{
                    tickRenderer:$.jqplot.CanvasAxisTickRenderer
                },
                tickOptions:{ 
                    formatString:'%d.%m %H:%M',
                    // fontSize:'10pt', 
                    // fontFamily:'Tahoma', 
                    angle:-40
                },
                // tickInterval:'600 second'
                // drawMajorGridlines: false,
                // drawMinorGridlines: true,
                // drawMajorTickMarks: false,
            //     rendererOptions: {
            //     tickInset: 0.5,
            //     minorTicks: 1
            // }
            },
            yaxis: {
                tickOptions: {
                    formatString: "%.1f"
                },
                rendererOptions: {
                    forceTickAt0: true
                }
            },
            y2axis: {
                tickOptions: {
                    formatString: "%.1f"
                },
                rendererOptions: {
                    // align the ticks on the y2 axis with the y axis.
                    alignTicks: true,
                    forceTickAt0: true
                }
            }
        },
        highlighter: {
            show: true, 
            showLabel: false, 
            tooltipAxes: 'y',
            sizeAdjust: 7.5 , tooltipLocation : 'ne'
        }
    });
   
});
</script>
{% endblock %}