<!doctype html>
<html  lang="en">
<head>
<title>ASEM</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 

<!-- Calendar -->
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.9.1.js"></script>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script src="{{ url_for('static', filename='jquery/jquery.ui.datepicker-ru.js') }}"></script>
<script src="{{ url_for('static', filename='jquery/jquery.ui.datepicker-ua.js') }}"></script>
    <!-- <link rel="stylesheet" href="/resources/demos/style.css"> -->

<script>
$(function() {
    $( "#datepicker_s" ).datepicker({
        changeMonth: false,
        changeYear: false,
        numberOfMonths: 1,
        showButtonPanel: true,
        autoSize: true

    });

    $( "#datepicker_e" ).datepicker({
        changeMonth: false,
        changeYear: false,
        numberOfMonths: 1,
        showButtonPanel: true,
        autoSize: true

    });

    // $( "#datepicker" ).datepicker( );
    // $( "#datepicker" ).datepicker( "option", "dateFormat", "dd.mm.yy" );
});

</script>
<!-- Calendar -->


<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
<link rel=stylesheet media=print type=text/css href="{{ url_for('static', filename='css/print.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='jqplot/jquery.jqplot.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='jqplot/plugins/jqplot.barRenderer.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='jqplot/plugins/jqplot.highlighter.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='jqplot/plugins/jqplot.cursor.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='jqplot/plugins/jqplot.pointLabels.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='jqplot/plugins/jqplot.dateAxisRenderer.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jqplot/jquery.jqplot.css') }}" />
</head>
<body>
<div class="page">
    {% for message in get_flashed_messages() %}
        <div class=flash>{{ message }}</div>
    {% endfor %}
    {% block mymenu %}
    <div class="header">
   <!--  <p style="text-align: center">Комунальне підприємство "Група впровадження проекту з енергозбереження
        в адміністративних і громадських будівлях м.Києва"</p>
    <h2 style="text-align: center">Автоматизована система енергомоніторингу (АСЕМ)</h2> -->
    <a class="brand" href="http://www.asem.com.ua/">
    <!-- <img src="/static/images/logo/logo_w.png"> -->
    asem.com.ua
    </a>
     <!-- Меню -->
    <ul id="hmenu">
    <li><a href={{ url_for('index') }}>Головна</a></li>
    <li><a href={{ url_for('config') }}>Конфигурация</a></li>
    <li><a href={{ url_for('jqplot') }}>Графики</a></li>
    </ul>
    </div>

    {% endblock %}
    {% block header %}{% endblock %}
    {% block zaklad %}{% endblock %}
    {% block prylad %}{% endblock %}
    {% block body %}{% endblock %}
<div class="futter">
{% block futter%}
<!-- <div style="width: 100%; height: 10px; clear: both;"></div> -->
<!-- <div style="text-align: center;"> -->
<small>Локальний модуль(ver 0.2)</small>
<p>ASEM-
<script type="text/javascript">document.write(new Date().getFullYear());</script>
</p>
<!-- </div> -->
{% endblock %}
</div>
</div>
</body>
</html>